.loginoptions-container{
  display: flex;
}

.loginoptions-container li{
  margin: 0px 10px 0px 10px;
  /* text-decoration: none; */
}

.loginoptions a{
  text-decoration: none;
  color: rgb(21, 21, 21);
}

.loginoptions:hover{
  opacity: 0.4;
}