.signup-form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
  /* min-width: 400px; */
}

.signup-form-items > *{
  margin: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 280px;
}

.signup-form *{
  margin: 10px 0px;
}

.signup-input{
  height: 25px;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid rgb(166, 165, 165);
}

.signup-button{
  background-color: rgb(21,21,21);
  color: rgb(255, 246, 246);
  padding: 10px;
  border-radius: 75px;
  width: 100%;
}

.signup-logo{
  width: 70px;
  height: 25px;
}

.errors{
  color: red;
  display: flex;
  justify-content: center;
}

.signup-button:hover{
  cursor: pointer;
}