.product-show-container{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.product-show-container p{
  font-weight: 350;
}

.product-show-container > *{
  margin:0px 10px;
}

.product-show-left{
  display: grid;
  grid-template-columns: auto auto;
  width: 40%;
  gap: 5px 2.5px;
}

.product-show-left img{
  width: 100%;
  height:auto;
  margin: 5px 5px;
}
  
.product-show-right{
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}


.color-selector{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

.color-selector > *{
  margin: 0px 5px;
  border-radius: 4px;
}

.color-selector label{
  width: 100%;
  height: auto;
  border-radius: 4px;
}

.color-selector img{
  max-width: 120px;
  border: 1px solid rgb(208, 208, 208);
  border-radius: 4px;
  cursor: pointer;
  height: 98%;
}

.size-selector{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  /* height: 25%; */
  /* flex-direction: row; */
  align-items: center;
  /* justify-content: space-evenly; */
  /* align-content: center; */
}

.product-size{
  /* height: 100%; */
  width: 25%;
  margin: 5px;

}

.size-selector input, .color-selector input{
  position: absolute;
	clip: rect(0,0,0,0);
	height: 1px;
	width: 1px;
}

.info{
  font-weight: 400;
}

.product-size label{
  display: flex;
  background-color: rgb(246,246,246);
  font-size: 14px;
  /* text-align: center; */
  padding: 15px 15px;
  border: 1px solid rgb(208, 208, 208);
  border-radius: 6px;
  cursor: pointer;
  width: 75%;
  justify-content: center;
}

.product-buttons > * {
  margin-top: 10px;
  margin-bottom: 10px;
}

.add-to-bag-button{
  width: 80%;
  height: 60px;
  background-color: rgb(21,21,21);
  color: rgb(246,246,246);
  border-radius: 30px;
  font-size: 17px;
  font-weight: 500;
  cursor: pointer;
}

.add-to-bag-button:hover{
  opacity: 0.4;
}

.favorite-button{
  width: 80%;
  height: 60px;
  background-color: rgb(246,246,246);
  color: rgb(21,21,21);
  border: 1px solid rgb(208, 208, 208);
  cursor: pointer;
  border-radius: 30px;
  vertical-align: center;
  font-size: 17px;
  font-weight: 500;
}

.size-selector li:hover, .favorite-button:hover, .product-color-selector input:hover, .size-selector label:hover{
  border: 1px solid rgb(21,21,21);
}

input[type='radio']:checked+label, .color-selector-link:active{
  border: 1px solid rgb(21,21,21);
}

.product-info-container{
  margin-top: 20px;
}

.product-info-container li{
  list-style: square;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 25px;
}

.heart-icon{
  margin: 0px auto;
  margin-left: 10px;
}

.info{
  margin: 10px 0px;
}

.error{
  color: red;
}