.product-show-container{
  display: flex;
  justify-content: center;
}

.product-show-left{
  display: grid;
  /* flex-wrap: wrap; */
  grid-template-columns: auto auto;
  width: 40%;
  column-gap: 15px;
  row-gap: 15px;;
}

.product-show-left img{
  width: 100%;
  /* height:auto; */
  /* margin: 5px 5px; */
  /* padding: 10px; */
}

.product-show-right *{
  margin-left: 20px;
  margin-top: 20px;
}
  
.product-show-right{
  width: 30%;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.product-color-selector{
  height: 68px;
  width: 68px;
  max-width: 120px;
  border: 1px solid rgb(21,21,21);
  border-radius: 4px;
  cursor: pointer;
}

.size-selector{
  display: flex;
  flex-wrap: wrap;
}

.size-selector input{
  position: absolute;
	clip: rect(0,0,0,0);
	height: 1px;
	width: 1px;
}

.info{
  font-weight: 400;
}

.size-selector label{
  background-color: rgb(246,246,246);
  font-size: 14px;
  text-align: center;
  padding: 15px 15px;
  border: 1px solid rgb(208, 208, 208);
  border-radius: 6px;
  cursor: pointer;
  width: 35%;
}


.add-to-bag-button{
  width: 100%;
  height: 60px;
  background-color: rgb(21,21,21);
  color: rgb(246,246,246);
  cursor: pointer;
  border-radius: 30px;
  font-size: 17px;
  font-weight: 500;
}

.add-to-bag-button:hover{
  opacity: 0.4;
}

.favorite-button{
  width: 100%;
  height: 60px;
  background-color: rgb(246,246,246);
  color: rgb(21,21,21);
  border: 1px solid rgb(208, 208, 208);
  cursor: pointer;
  border-radius: 30px;
  vertical-align: center;
  font-size: 17px;
  font-weight: 500;
}

.size-selector li:hover, .favorite-button:hover, .product-color-selector:hover, .size-selector label:hover{
  border: 1px solid rgb(21,21,21);
}

input[type='radio']:checked+label{
  border: 1px solid rgb(21,21,21);
}

.product-info{
  margin-top: 20px;
}

.product-info li{
  list-style: circle;
}

.heart-icon{
  margin: 0px auto;
  margin-left: 10px;
}