.navbar-categories{
  display: flex;

  /* justify-content: center; */
}

.navbar-categories a{
  text-decoration: none;
  color: rgb(21, 21, 21);
}

.navbar-categories li{
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 20px;
  font-weight: 500;
  min-width: 60px;
  text-align: center;
}

.navbar-categories li:hover{
  cursor: pointer;
  border-bottom: 3px solid rgb(21, 21, 21);
}

.navbar-categories-options a{
  text-decoration: none;
  color: rgb(21, 21, 21);
}