.review-header-container{
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.reviews-container{
  margin: 10px 0px;
}

.reviews-rating-header{
  text-align: center;
}

.review-container{
  margin-bottom: 15px;
}

#reviews-header{
  width: 30%;
}

#new-review-button{
  cursor: pointer;
}

.review-modal-background{
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: rgba(21,21,21,0.5);
  z-index: 2;
}

.review-modal-foreground{
  position: absolute;
  width: 500px;
  height: 500px;
  background-color: rgb(251,251,251);
  z-index: 3;
  top: calc(50% - 300px );
  left: calc(50% - 225px );
  padding: 25px;
}

.new-review-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.review-delete{
  cursor: pointer;
}
