.products-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%
}

.product-container{
  width: 30%;
  margin: 10px 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.product-container img{
  max-width: 100%;
}

.onsaleproduct{
  text-decoration: line-through;
}

.onsale{
  color: green;
}

.price-container{
  display: flex;
}

.price-container > p{
  margin-right: 5px;
}