.footer-container{
  display: flex;
  justify-content: space-between;
  background-color: rgb(48, 48, 48);
  color: rgb(147, 147, 147);
  height: 200px;
  align-items: center;
}


.footer-right{
  display:flex;
  justify-content: space-evenly;
  align-items: center;
  margin-right: 20px;
}

.footer-left{
  margin-left: 20px;
}

.footer-logo{
  margin: 10px;
  color: rgba(255,255,255, 0.9);
  cursor: pointer;
  font-size: 2rem;
}

.review-form-content a{
  /* text-decoration: none; */
  /* padding: 1px; */
  /* text-align: center; */
  display: flex;
  justify-content: center;
}