.splash-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 98vw;
  overflow-x: hidden;
}

.first-item-container img{
  width: 90vw;
  /* height: 100vh; */
  object-fit: cover;
}

.first-item-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.image-text-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.image-text-box h1{
  font-size: 40px;
}

.image-text-box p{
  font-size: 15px;
  /* font-weight: 350; */
}

.image-text-box button{
  /* width: 5vw;
  height: 3vh; */
  background-color: rgb(21,21,21);
  color: rgb(251,251,251);
  font-weight: 300;
  padding: 10px 50px;
  border-radius: 20px;
  margin-top: 10px;
  cursor: pointer;
}

.featured-footwear-container{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
}

.featured-footwear-product-container img{
  width: 100%;
  /* padding: 20px; */
}

.featured-footwear-product-container{
  margin: 10px 10px;
  position: relative;
}

.featured-product-info{
  position: absolute;
  top: 30px;
  left: 20px;
}

.featured-product-info > *{
  margin: 5px 0px;
}

.featured-footwear-product-container button{
  background-color: rgb(21,21,21);
  color: rgb(251,251,251);
  font-weight: 300;
  padding: 10px 50px;
  border-radius: 20px;
  margin-top: 10px;
  cursor: pointer;
}

.member-join-container{
  position: relative;
  /* width: 80%; */
}

.member-join-text{
  position: absolute;
  color: rgb(251,251,251);
  top: calc(20% + 10px);
  left: 5%;
}

.member-join-text > *{
  margin: 10px 0px;
}

.member-join-text h1{
  font-size: 40px;
  /* font-weight: 500; */
}

.member-join-text button{
  background-color: rgb(251,251,251);
  color: rgb(21,21,21);
  padding: 10px 20px;
  border-radius: 30px;
  cursor: pointer;
}

#member-join-text-signin-button{
  margin-left: 20px;
}

.checkout-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.email-link{
  cursor: pointer;
  color: rgb(21,21,21);
}